<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 移动端 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./css/test.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/Applications.css">
    <title>index</title>
</head>

<body>
    <%-include include/head.ejs%>

    <div class="wrapper">
        <div class="banner">
            <img src="./images/Applicatons banner.png" alt="">
            <p class="descript">You can say something here，<br>
                 slogan，for example <br>
                 Please don’t put too mach text.</p>
        </div>
        <div class="middle clearfix">
            <div class="nav" id="test">
                <ul>
                    <li data-id="a" class="active">
                        Adsorption
                    </li>
                    <li data-id="b">Chemical process & Purification</li>
                    <li data-id="c">Drinking Water</li>
                    <li data-id="e">Food</li>
                    <li data-id="f">Metal removal & recovery</li>
                    <li data-id="g">Softening & Demineralization</li>
                    <li data-id="h">Ultra pure water</li>
                    <li data-id="i">Waste Water & reuse</li>
                </ul>
            </div>
            <!--  -->
            <div id="sub">
                <div id="a">

                    <h3>H1 Metal removal & recovery Description(H1)</h3>
                    <p>
                        IXTEQLITE PMB-16  is a highly regenerated gel type mixed bed resin with high purity and capacity.
                    </p>
                    <p>
                        IXTEQLITE PMB-16  is designed suitable for use in the polishing of high purity water in mixed bed units for polishing after primary demineralization system.
                    </p>
                    <p>
                        IXTEQLITE PMB-16  is designed suitable for use in the polishing of high purity water in mixed bed units for polishing after primary demineralization system.
                    </p>
                    <h4>
                        H2 PRODUCT Description
                    </h4>
                    <div class="table">
                        <table border="1">
                            <tr>
                                <td>Appearance</th>
                                <td>Brown/yellow, translucent, gel</th>
                            </tr>
                            <tr>
                                <td>Function Group</td>
                                <td>Sulfonic acid/ Quaternary amine</td>
                            </tr>
                            <tr>
                                <td>Ionic form as shipped</td>
                                <td>H+/ OH-</td>
                            </tr>
                            <tr>
                                <td>Total Capacity in volume, min. eq/L</td>
                                <td>1.80/1.00</td>
                            </tr>
                            <tr>
                                <td>Uniformity coefficient, max.</td>
                                <td>1.6</td>
                            </tr>
                            <tr>
                                <td>Water content, %</td>
                                <td>50-60</td>
                            </tr>
                            <tr>
                                <td>Water content, %</td>
                                <td>50-60</td>
                            </tr>
                            <tr>
                                <td>Density, approx. g/ml</td>
                                <td>1.10</td>
                            </tr>
                            <tr>
                                <td>Bulk density, approx..g/L</td>
                                <td>68-700</td>
                            </tr>
                            <tr>
                                <td>Bead size,95%, mm</td>
                                <td>0.35-1.25</td>
                            </tr>
                            <tr>
                                <td>Bulk density, approx..g/L</td>
                                <td>68-700</td>
                            </tr>
                            <tr>
                                <td>Bead size,95%, mm</td>
                                <td>0.35-1.25</td>
                            </tr>
                            <tr>
                                <td>Bulk density, approx..g/L</td>
                                <td>68-700</td>
                            </tr>
                            <tr>
                                <td>Bead size,95%, mm</td>
                                <td>0.35-1.25</td>
                            </tr>
                        </table>
                    </div>
                    <h4>
                        PRODUCT Description(H2)
                    </h4>
                    <p>
                        Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                        adsorbents may contain by-products resulting form the manufacture process. The user must
                        determine which by-products must be removed for any particular use and must assure that the
                        appropriate level of purity is achieved for that use. The user must ensure compliance with all
                        present safety standards and regular requirements governing the application. IXTECH does not
                        recommend its products, as supplied, as being suitable or appropriately pure for any particular
                        use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                        with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                        resin, consult sources knowledgeable in the handling of these materials. All information and our
                        technical advice are given in good faith but without any warranty, either expressed or implied
                        as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                        IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                        validity and to test our products as to their suitability for the intended processes and uses.
                        The application, use and processing of our products and the product manufactured by you on the
                        basis of our technical advice are beyond our control and, therefore, entirely your own
                        responsibility. Material safety Data Sheets outlining
                        the hazards and handling methods for our products are available on request.a
                    </p>
                    <img src="./images/Applicatons banner2.png" alt="">
                    <p>
                        Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                        adsorbents may contain by-products resulting form the manufacture process. The user must
                        determine which by-products must be removed for any particular use and must assure that the
                        appropriate level of purity is achieved for that use. The user must ensure compliance with all
                        present safety standards and regular requirements governing the application. IXTECH does not
                        recommend its products, as supplied, as being suitable or appropriately pure for any particular
                        use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                        with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                        resin, consult sources knowledgeable in the handling of these materials. All information and our
                        technical advice are given in good faith but without any warranty, either expressed or implied
                        as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                        IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                        validity and to test our products as to their suitability for the intended processes and uses.
                        The application, use and processing of our products and the product manufactured by you on the
                        basis of our technical advice are beyond our control and, therefore, entirely your own
                        responsibility. Material safety Data Sheets
                        outlining the hazards and handling methods for our products are available on request.a
                    </p>
                </div>
                <div id="b" class="none">
                  
                        <h3>H1 Metal removal & recovery Description(H1)</h3>
                        <p>
                            is a highly regenerated gel type mixed bed resin with high purity and capacity.
                        </p>
                        <h4>
                            H2 PRODUCT Description
                        </h4>
                        <div class="table">
                            <table border="1">
                                <tr>
                                    <td>Appearance</th>
                                    <td>Brown/yellow, translucent, gel</th>
                                </tr>
                                <tr>
                                    <td>Function Group</td>
                                    <td>Sulfonic acid/ Quaternary amine</td>
                                </tr>
                                <tr>
                                    <td>Ionic form as shipped</td>
                                    <td>H+/ OH-</td>
                                </tr>
                                <tr>
                                    <td>Total Capacity in volume, min. eq/L</td>
                                    <td>1.80/1.00</td>
                                </tr>
                                <tr>
                                    <td>Uniformity coefficient, max.</td>
                                    <td>1.6</td>
                                </tr>
                                <tr>
                                    <td>Water content, %</td>
                                    <td>50-60</td>
                                </tr>
                                <tr>
                                    <td>Density, approx. g/ml</td>
                                    <td>1.10</td>
                                </tr>
                                <tr>
                                    <td>Bulk density, approx..g/L</td>
                                    <td>68-700</td>
                                </tr>
                                <tr>
                                    <td>Bead size,95%, mm</td>
                                    <td>0.35-1.25</td>
                                </tr>
                                <tr>
                                    <td>Harmonic mean size, mm</td>
                                    <td>0.40-0.65</td>
                                </tr>
                                   <tr>
                                    <td>Harmonic mean size, mm</td>
                                    <td>0.40-0.65</td>
                                </tr>
                                <tr>
                                    <td>Resistivity, min. MΩ*cm</td>
                                    <td>16*</td>
                                </tr>
                                <tr>
                                    <td>Stability, at pH-range</td>
                                    <td>0-14</td>
                                </tr>
                             
                                <tr>
                                    <td>Storage, Temp. range, °C ,</td>
                                    <td>0-40</td>
                                </tr>
                            </table>
                        </div>
                        <h4>
                            PRODUCT Description(H2)
                        </h4>
                        <p>
                            Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                            adsorbents may contain by-products resulting form the manufacture process. The user must
                            determine which by-products must be removed for any particular use and must assure that the
                            appropriate level of purity is achieved for that use. The user must ensure compliance with all
                            present safety standards and regular requirements governing the application. IXTECH does not
                            recommend its products, as supplied, as being suitable or appropriately pure for any particular
                            use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                            with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                            resin, consult sources knowledgeable in the handling of these materials. All information and our
                            technical advice are given in good faith but without any warranty, either expressed or implied
                            as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                            IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                            validity and to test our products as to their suitability for the intended processes and uses.
                            The application, use and processing of our products and the product manufactured by you on the
                            basis of our technical advice are beyond our control and, therefore, entirely your own
                            responsibility. Material safety Data Sheets outlining
                            the hazards and handling methods for our products are available on request.a
                        </p>
                        <img src="./images/Applicatons banner2.png" alt="">
                        <p>
                            Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                            adsorbents may contain by-products resulting form the manufacture process. The user must
                            determine which by-products must be removed for any particular use and must assure that the
                            appropriate level of purity is achieved for that use. The user must ensure compliance with all
                            present safety standards and regular requirements governing the application. IXTECH does not
                            recommend its products, as supplied, as being suitable or appropriately pure for any particular
                            use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                            with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                            resin, consult sources knowledgeable in the handling of these materials. All information and our
                            technical advice are given in good faith but without any warranty, either expressed or implied
                            as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                            IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                            validity and to test our products as to their suitability for the intended processes and uses.
                            The application, use and processing of our products and the product manufactured by you on the
                            basis of our technical advice are beyond our control and, therefore, entirely your own
                            responsibility. Material safety Data Sheets
                            outlining the hazards and handling methods for our products are available on request.a
                        </p>
                </div>
                <div id="c" class="none">
                   
                        <h3>H1 Metal removal & recovery Description(H1)</h3>
                        <p>
                            is a highly regenerated gel type mixed bed resin with high purity and capacity.
                        </p>
                        <h4>
                            H2 PRODUCT Description
                        </h4>
                        <div class="table">
                            <table border="1">
                                <tr>
                                    <td>Appearance</th>
                                    <td>Brown/yellow, translucent, gel</th>
                                </tr>
                                <tr>
                                    <td>Function Group</td>
                                    <td>Sulfonic acid/ Quaternary amine</td>
                                </tr>
                                <tr>
                                    <td>Ionic form as shipped</td>
                                    <td>H+/ OH-</td>
                                </tr>
                                <tr>
                                    <td>Total Capacity in volume, min. eq/L</td>
                                    <td>1.80/1.00</td>
                                </tr>
                                <tr>
                                    <td>Uniformity coefficient, max.</td>
                                    <td>1.6</td>
                                </tr>
                                <tr>
                                    <td>Water content, %</td>
                                    <td>50-60</td>
                                </tr>
                                <tr>
                                    <td>Water content, %</td>
                                    <td>50-60</td>
                                </tr>
                                <tr>
                                    <td>Density, approx. g/ml</td>
                                    <td>1.10</td>
                                </tr>
                                <tr>
                                    <td>Bulk density, approx..g/L</td>
                                    <td>68-700</td>
                                </tr>
                                <tr>
                                    <td>Bead size,95%, mm</td>
                                    <td>0.35-1.25</td>
                                </tr>
                                <tr>
                                    <td>Bulk density, approx..g/L</td>
                                    <td>68-700</td>
                                </tr>
                                <tr>
                                    <td>Bead size,95%, mm</td>
                                    <td>0.35-1.25</td>
                                </tr>
                                <tr>
                                    <td>Bulk density, approx..g/L</td>
                                    <td>68-700</td>
                                </tr>
                                <tr>
                                    <td>Bead size,95%, mm</td>
                                    <td>0.35-1.25</td>
                                </tr>
                            </table>
                        </div>
                        <h4>
                            PRODUCT Description(H2)
                        </h4>
                        <p>
                            Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                            adsorbents may contain by-products resulting form the manufacture process. The user must
                            determine which by-products must be removed for any particular use and must assure that the
                            appropriate level of purity is achieved for that use. The user must ensure compliance with all
                            present safety standards and regular requirements governing the application. IXTECH does not
                            recommend its products, as supplied, as being suitable or appropriately pure for any particular
                            use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                            with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                            resin, consult sources knowledgeable in the handling of these materials. All information and our
                            technical advice are given in good faith but without any warranty, either expressed or implied
                            as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                            IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                            validity and to test our products as to their suitability for the intended processes and uses.
                            The application, use and processing of our products and the product manufactured by you on the
                            basis of our technical advice are beyond our control and, therefore, entirely your own
                            responsibility. Material safety Data Sheets outlining
                            the hazards and handling methods for our products are available on request.a
                        </p>
                        <img src="./images/Applicatons banner2.png" alt="">
                        <p>
                            Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                            adsorbents may contain by-products resulting form the manufacture process. The user must
                            determine which by-products must be removed for any particular use and must assure that the
                            appropriate level of purity is achieved for that use. The user must ensure compliance with all
                            present safety standards and regular requirements governing the application. IXTECH does not
                            recommend its products, as supplied, as being suitable or appropriately pure for any particular
                            use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                            with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                            resin, consult sources knowledgeable in the handling of these materials. All information and our
                            technical advice are given in good faith but without any warranty, either expressed or implied
                            as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                            IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                            validity and to test our products as to their suitability for the intended processes and uses.
                            The application, use and processing of our products and the product manufactured by you on the
                            basis of our technical advice are beyond our control and, therefore, entirely your own
                            responsibility. Material safety Data Sheets
                            outlining the hazards and handling methods for our products are available on request.a
                        </p>
                </div>
                <div class="d">
                    
                        <h3>H1 Metal removal & recovery Description(H1)</h3>
                        <p>
                            is a highly regenerated gel type mixed bed resin with high purity and capacity.
                        </p>
                        <h4>
                            H2 PRODUCT Description
                        </h4>
                        <div class="table">
                            <table border="1">
                                <tr>
                                    <td>Appearance</th>
                                    <td>Brown/yellow, translucent, gel</th>
                                </tr>
                                <tr>
                                    <td>Function Group</td>
                                    <td>Sulfonic acid/ Quaternary amine</td>
                                </tr>
                                <tr>
                                    <td>Ionic form as shipped</td>
                                    <td>H+/ OH-</td>
                                </tr>
                                <tr>
                                    <td>Total Capacity in volume, min. eq/L</td>
                                    <td>1.80/1.00</td>
                                </tr>
                                <tr>
                                    <td>Uniformity coefficient, max.</td>
                                    <td>1.6</td>
                                </tr>
                                <tr>
                                    <td>Water content, %</td>
                                    <td>50-60</td>
                                </tr>
                                <tr>
                                    <td>Water content, %</td>
                                    <td>50-60</td>
                                </tr>
                                <tr>
                                    <td>Density, approx. g/ml</td>
                                    <td>1.10</td>
                                </tr>
                                <tr>
                                    <td>Bulk density, approx..g/L</td>
                                    <td>68-700</td>
                                </tr>
                                <tr>
                                    <td>Bead size,95%, mm</td>
                                    <td>0.35-1.25</td>
                                </tr>
                                <tr>
                                    <td>Bulk density, approx..g/L</td>
                                    <td>68-700</td>
                                </tr>
                                <tr>
                                    <td>Bead size,95%, mm</td>
                                    <td>0.35-1.25</td>
                                </tr>
                                <tr>
                                    <td>Bulk density, approx..g/L</td>
                                    <td>68-700</td>
                                </tr>
                                <tr>
                                    <td>Bead size,95%, mm</td>
                                    <td>0.35-1.25</td>
                                </tr>
                            </table>
                        </div>
                        <h4>
                            PRODUCT Description(H2)
                        </h4>
                        <p>
                            Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                            adsorbents may contain by-products resulting form the manufacture process. The user must
                            determine which by-products must be removed for any particular use and must assure that the
                            appropriate level of purity is achieved for that use. The user must ensure compliance with all
                            present safety standards and regular requirements governing the application. IXTECH does not
                            recommend its products, as supplied, as being suitable or appropriately pure for any particular
                            use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                            with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                            resin, consult sources knowledgeable in the handling of these materials. All information and our
                            technical advice are given in good faith but without any warranty, either expressed or implied
                            as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                            IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                            validity and to test our products as to their suitability for the intended processes and uses.
                            The application, use and processing of our products and the product manufactured by you on the
                            basis of our technical advice are beyond our control and, therefore, entirely your own
                            responsibility. Material safety Data Sheets outlining
                            the hazards and handling methods for our products are available on request.a
                        </p>
                        <img src="./images/Applicatons banner2.png" alt="">
                        <p>
                            Ixteqlite a trademark of IXTEQ Inc. and its affiliates, USA. Ion exchange resins and polymeric
                            adsorbents may contain by-products resulting form the manufacture process. The user must
                            determine which by-products must be removed for any particular use and must assure that the
                            appropriate level of purity is achieved for that use. The user must ensure compliance with all
                            present safety standards and regular requirements governing the application. IXTECH does not
                            recommend its products, as supplied, as being suitable or appropriately pure for any particular
                            use. Nitric acid and other strong oxidizing agents can cause explosive type reactions when mixed
                            with ion exchange resins. Before using strong oxidizing agents in contact with ion exchange
                            resin, consult sources knowledgeable in the handling of these materials. All information and our
                            technical advice are given in good faith but without any warranty, either expressed or implied
                            as to the accuracy or appropriateness of these data and expressly excludes any liability upon
                            IXTEQ arising out of its use. Our advice does not release you from the obligation to check its
                            validity and to test our products as to their suitability for the intended processes and uses.
                            The application, use and processing of our products and the product manufactured by you on the
                            basis of our technical advice are beyond our control and, therefore, entirely your own
                            responsibility. Material safety Data Sheets
                            outlining the hazards and handling methods for our products are available on request.a
                        </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%-include include/foot.ejs%>

</body>

</html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $('#test').on('click', 'ul li', function () {
        $(this).siblings().removeClass('active')
        $(this).addClass('active');
        var target = $(this).data('id');
        $('#sub').children().addClass('none')
        $('#sub').children('#' + target).removeClass('none')

    })
    $(document).ready(function(){
			var href = window.location.search
			console.log(href)
			if(href){
			  var arr = href.split('=')
			  var index = Number(arr[1])
			  console.log(index)
			  $("#test ul li").siblings().removeClass('active')
			  $("#test ul").find('li').eq(index).addClass('active')
			  $('#sub').children().addClass('none')
			  $('#sub').find('div').eq(index).removeClass('none')
			}
		})
</script>