<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 移动端 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./css/test.css">
	<link rel="stylesheet" href="./css/reset.css">
	<script src="./js/rem.js"></script>
	<title>index</title>
</head>
<body>
	<%-include include/head.ejs%>
	
	<section class="minddle">
	  <div class="banner">
			<img src="/images/Contact banner.png" alt="">
			<div class="text">
				You can say something here，<br>
				slogan，for example<br>
				Please don’t put too mach text.
			</div>
		</div>
		<div class="contact">
			<div class="tit">
				Ixteq Technology Co., Ltd.
			</div>
			<div class="tel">
				<span class="left">Tel：</span>
				<span class="right">0571-7888299</span>
			</div>
			<div class="tel">
				<span class="left">Emall：</span>
				<span class="right">aaa@ixteq.com</span>
			</div>
			<div class="tel">
				<span class="left">Add：</span>
				<span class="right">Building 1888, Yunxi Town, Xihu District, Hangzhou</span>
			</div>
		</div>
		
		
	</section>
	<%-include include/foot.ejs%>

</body>
</html>