<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 移动端 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- <link rel="stylesheet" href="./css/test.css"> -->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://unpkg.com/animate.css@3.5.2/animate.min.css">
	<title>index</title>
</head>
<body>
	<%-include include/head.ejs%>
	   <div class="wrapper ">
           <div class="banner animated fadeInRight">
               <img src="./images/home banner.png" alt="">
                <p class="descript">You can say something here，<br>
                     slogan，for example <br>
                     Please don’t put too mach text.</p>
           </div>
           <div class="nav clearfix">
            <div class="nav-left-tab animated fadeInLeft">
                <h3>What's About Ixteq?</h3>
                <p>
                 An application for something such as a job or membership of an organization is a formal written request for it. An application for something such as a job or membership of an organization is a formal written request for it.An
                  application for something such as a job or membership of an organization is a formal written request for it. 
                </p>
                <div class="learn-more">
                 LEARN MORE >>
                </div>
            </div>
            <div class="nav-right-tab animated fadeInRight">
                <ul>
                    <li>
                        <img src="./images/Adsorbent.png" alt="">
                        <p>
                            Adsorbent
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                    <li>
                        <img src="./images/Catalyst.png" alt="">
                        <p>
                            Catalyst
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                    <li>
                        <img src="./images/Chelation resins.png" alt="">
                        <p>
                            Chelation resins
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                    <li>
                        <img src="./images/Polishing Mixed Bed.png" alt="">
                        <p>
                            Polishing Mixed Bed
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                    <li>
                        <img src="./images/Strong Acid Cation.png" alt="">
                        <p>
                            Strong Acid Cation
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                    <li>
                        <img src="./images/Strong Base Anion.png" alt="">
                        <p>
                            Strong Base Anion
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                    <li>
                      
                        <img src="./images/Weak Acid Cation.png" alt="">
                        <p>
                            Weak Acid Cation
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                    <li>
                        <img src="./images/Weak Base Anion.png" alt="">
                        <p>
                            Weak Base Anion
                        </p>
                        <div>
                            An application for something such as a job or 
                        </div>
                    </li>
                </ul>
            </div>
           </div>
           <div class="section clearfix animated fadeInUp">
               <div class="section-intro">
                <h3>Introduce APPlictions</h3>
                <p>
                    An application for something such as a job or membership of an organization is a formal written request for it. An application for something such as a job or membership of an organization is a formal written request for it.An application for something such as a job or membership of an organization. An application for something such as a job or membership of an organization is a formal written request for it. An application for something such as a job or membership of an organization is a formal written request for it.An application for something such as a job or 
                    membership of an organization. An application for something such as a job or membership of an organization 
                </p>
                <div class="learn-more flo-right">
                    LEARN MORE >>
                   </div>
               </div>
               <div class="secton-pic">
                      <img src="./images/home banner2.png" alt="">
               </div>
           </div>
       </div>
	<%-include include/foot.ejs%>

</body>
</html>
<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
<script>
    // 　$('.wrapper').css({'animation-duration':'.3s','animation-delay':'3s'})
</script>